.ThemeRibbonSubMenu {
	background: transparent;
	border: 1px solid #999999;
}
.ThemeRibbonSubMenuTable {
	width: 200px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeRibbonSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuItemLeft, .ThemeRibbonMenuItemActive .ThemeRibbonMenuItemLeft {
	background-image: url(ThemeRibbon11.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 24px;
	/*cursor: pointer;*/
	border-bottom: 1px solid #DBCE99;
	border-left: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuItemText, .ThemeRibbonMenuItemActive .ThemeRibbonMenuItemText, .ThemeRibbonMenuItemHover .ThemeRibbonMenuItemText a, .ThemeRibbonMenuItemActive .ThemeRibbonMenuItemText a {
	background-image: url(ThemeRibbon11.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	text-indent: 10px;
	text-decoration: none;
	color: #555555;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	/*cursor: pointer;*/
	border-bottom: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuItemRight, .ThemeRibbonMenuItemActive .ThemeRibbonMenuItemRight {
	background-image: url(ThemeRibbon11.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-right: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuFolderLeft, .ThemeRibbonMenuItemActive .ThemeRibbonMenuFolderLeft {
	background-image: url(ThemeRibbon8.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-left: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuFolderText, .ThemeRibbonMenuItemActive .ThemeRibbonMenuFolderText, .ThemeRibbonMenuItemHover .ThemeRibbonMenuFolderText a, .ThemeRibbonMenuItemActive .ThemeRibbonMenuFolderText a {
	background-image: url(ThemeRibbon10.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	text-indent: 10px;
	text-decoration: none;
	color: #555555;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMenuItemHover .ThemeRibbonMenuFolderRight, .ThemeRibbonMenuItemActive .ThemeRibbonMenuFolderRight {
	background-image: url(ThemeRibbon9.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-right: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuItemLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuItemText, .ThemeRibbonMenuItem .ThemeRibbonMenuItemText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuItemRight {
	background-color: #FFFFFF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuFolderLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuFolderText, .ThemeRibbonMenuItem .ThemeRibbonMenuFolderText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuFolderRight {
	background-image: url(ThemeRibbon7.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMenu {
	width: 47px;
	padding: 0;
	background-color: #000000;
}
.ThemeRibbonMenuOuter {
	background-color: transparent;
	border: 1px solid #8DB2E3;
}
.ThemeRibbonMenu tr {
	padding: 0px;
	margin: 0px;
	width: 47px;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainItemLeft, .ThemeRibbonMainItemActive .ThemeRibbonMainItemLeft {
	background-image: url(ThemeRibbon5.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-left: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainItemText, .ThemeRibbonMainItemActive .ThemeRibbonMainItemText, .ThemeRibbonMainItemHover .ThemeRibbonMainItemText a, .ThemeRibbonMainItemActive .ThemeRibbonMainItemText a {
	background-image: url(ThemeRibbon5.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainItemRight, .ThemeRibbonMainItemActive .ThemeRibbonMainItemRight {
	background-image: url(ThemeRibbon5.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-right: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainFolderLeft, .ThemeRibbonMainItemActive .ThemeRibbonMainFolderLeft {
	background-image: url(ThemeRibbon2.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-left: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainFolderText, .ThemeRibbonMainItemActive .ThemeRibbonMainFolderText, .ThemeRibbonMainItemHover .ThemeRibbonMainFolderText a, .ThemeRibbonMainItemActive .ThemeRibbonMainFolderText a {
	background-image: url(ThemeRibbon2.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMainItemHover .ThemeRibbonMainFolderRight, .ThemeRibbonMainItemActive .ThemeRibbonMainFolderRight {
	background-image: url(ThemeRibbon2.png);
	background-repeat: repeat-x;
	background-color: #FFE289;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #DBCE99;
	border-right: 1px solid #DBCE99;
	border-top: 1px solid #DBCE99;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItem .ThemeRibbonMainItemLeft {
	background-image: url(ThemeRibbon4.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItem .ThemeRibbonMainItemText, .ThemeRibbonMainItem .ThemeRibbonMainItemText a {
	background-image: url(ThemeRibbon4.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMainItem .ThemeRibbonMainItemRight {
	background-image: url(ThemeRibbon4.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItem .ThemeRibbonMainFolderLeft {
	background-image: url(ThemeRibbon1.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonMainItem .ThemeRibbonMainFolderText, .ThemeRibbonMainItem .ThemeRibbonMainFolderText a {
	background-image: url(ThemeRibbon1.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	text-indent: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeRibbonMainItem .ThemeRibbonMainFolderRight {
	background-image: url(ThemeRibbon1.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeRibbonSubMenu TD, .ThemeRibbonMenu TD, .ThemeRibbonMenu TR {
	vertical-align: middle;
}
.ThemeRibbonMenuSplitRight DIV, .ThemeRibbonMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuSplitLeft {
	background-color: #EFEBDE;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuSplitText {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeRibbonMenuItem .ThemeRibbonMenuSplitRight {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeRibbonMainSplitRight DIV, .ThemeRibbonMainSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #071D83;
	overflow: hidden;
}
.ThemeRibbonMainItem .ThemeRibbonMainSplitLeft {
	background-image: url(ThemeRibbon6.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeRibbonMainItem .ThemeRibbonMainSplitText {
	background-image: url(ThemeRibbon6.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeRibbonMainItem .ThemeRibbonMainSplitRight {
	background-image: url(ThemeRibbon6.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeRibbonMainItem {
	vertical-align: middle;
}
.ThemeRibbonHorizontalSplit {
	border-right: 0px solid #8080FF;
	border-left: 0px solid #8080FF;
	width: 10px;
	background-image: url(ThemeRibbon3.png);
	background-repeat: repeat-x;
	background-color: #EFF2FF;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeRibbonMenuItem img.seq1, .ThemeRibbonMainItem img.seq1, .ThemeRibbonMenuItemHover seq2, .ThemeRibbonMenuItemActive seq2, .ThemeRibbonMainItemHover seq2, .ThemeRibbonMainItemActive seq2 {
	display: inline;
}
.ThemeRibbonMenuItem .seq2, .ThemeRibbonMenuItemHover .seq1, .ThemeRibbonMenuItemActive .seq1, .ThemeRibbonMainItem .seq2, .ThemeRibbonMainItemHover .seq1, .ThemeRibbonMainItemActive .seq1 {
	display: none;
}
.ThemeRibbonMainItem, .ThemeRibbonMainItemHover, .ThemeRibbonMainItemActive, .ThemeRibbonMenuItem, .ThemeRibbonMenuItemHover, .ThemeRibbonMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeRibbonSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
